body {
    background: #e9a33a url(https://wallpaperaccess.com/full/1155097.png) fixed; 
    background-size: 1530px auto;
    color: #381919;
     font-family: Arial Black;
}
    h1, h2 { 
        text-align: center; 
    }
    header{
        min-height: 130px; 
        background-color: #ec882b;  
        /*float:center;*/
    }
    .t{
        color: #3d0d49;  
        font-style: italic;  
        font-size:30px;  
    }
    #navigacia{
        max-width:960px; 
        background-color: #f59d4b; 
    }
    #virav{
        width:980px;
        margin:0 auto;
    }
   
    #img{ 
 
     float:left;
     width:100px;     
     height:90px;
        
    }

    .textt{
        padding:10px; 
        color: #410e4e;  
        font-style: italic;  
        font-size:30px;  
    }
    #content{
        max-width:960px; 
    }
   
    table tr:nth-child(2n) td{ 
        background: #eeeb55; 
    }
    table tr:nth-child(2n+1) td{ 
        background:#b45312;
     }
     
    footer{
        height: 5%;
        background-color: #ec882b;  
    }
    #end {
        color: #381919;  
        font-style: italic;
        font-size: 22px;
    }